.cta__title {
    margin-bottom: 1.2em;
    font-size: 2em;
    font-weight: 500;
}

.cta__button.c-button {
    width: 24%;
    margin: 0 auto;
    font-weight: 600;
    font-size: 1.2em;
}

.cta__subscription-form {
    margin: auto;
    height: fit-content;
    box-shadow: 0 0 0 100vmax rgb(0 0 0 / .5), 0 0 2rem rgb(0 0 0 / 0.5);
    border: none;
}

@media (max-width: 700px) {
    .cta__title {
        width: 60%;
    }

    .cta__button.c-button {
        width: 50%;
        font-size: clamp(0.7rem, 50%,2rem);
    }

    .cta__subscription-form .c-subscription-form__label {
        text-align: start;
    }
}
