:root {
    --primary: #eb1ccc;
    --secondary: #95989a;
    --text-color: #fff;
    --text-secondary: #000;
    --text-tertiary: #5d5d5d;
}

.l-event-description {
    background: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,0.8)), url(/img/hrz-5.jpg);
    background-position: center;
    background-size: cover;
    height: 85vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--text-color);
}

