.l-location {
    height: 400px;
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(/img/hrz-1.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: var(--text-color);
    margin-bottom: 3em;
}

@media (max-width: 420px) {
    .l-location {
        text-align: center;
    }
}

@media (max-width: 700px) {
    .l-location {
        flex-direction: column;
        height: auto;
        padding: 2em 0;
    }
}